/* @override http://localhost:8080/assets/css/style.css */

@CHARSET "UTF-8";

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

div {
    display: block;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    background: silver;
}

div.container {
    width: 900px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.required {
    color: red;
}

.navbar {
    min-width: 900px;
}

.block-sector {
    border-radius: 6px;
}

.block-surround {
    background: #fff;
    padding: 20px 15px;
    width: 864px;
}

.block-sector-left {
    margin-right: 10px;
    border: 1px solid #e1e8ed;
    background: #FFF;
    width: 248px;
    float: left;
}

.block-sector-body {
    margin-bottom: 10px;
    background: #FFF;
    float: left;
}

.credit {
    margin: 20px 0;
}

div.content-subtitle {
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
    padding: 9px 12px;
    width: 606px;
}

div.content-main {
    float: left;
    width: 604px;
}

.content-header {
    border: 1px solid #e1e8ed;
    width: 606px;
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    background-clip: padding-box;
    color: #292f33;
}

div.header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 5px 5px 0 0;
}

h2#content-main-heading.js-timeline-title {
    color: #66757f;
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}

div.content-stream {
    position: relative;
    margin-left: 0;
    list-style: none;
    width: 604px;
}

div.contain-container {
    margin-left: 58px;
}

div.content-tweet {
    clear: both;
    content: " ";
    display: table;
    position: relative;
    min-height: 51px;
    padding: 9px 12px;
    width: 604px;
}

ol.content-stream-items {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.content-stream-item {
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
    content: " ";
    display: table;
    clear: both;
    line-height: inherit;
    background-clip: border-box;
}

ol.content-stream-items:last-child li.content-stream-item:last-child {
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-bottom: 1px solid #e1e8ed;
    content: " ";
    display: table;
    clear: both;
    line-height: inherit;
    background-clip: border-box;
    border-radius: 0 0 5px 5px;
}

img.stream-item-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    border: 0;
}

strong.center-middle-txt {
    font-weight: bold;
    color: #292f33;
}

small.time {
    color: #8899a6;
    font-size: 10px;
}

p.tweet-text {
    word-wrap: break-word;
    margin: 0;
}

div.content-stream-item-footer {
    display: table;
    width: 100%;
    font-size: 12px;
    padding-top: 3px;
}

div.footer-space {
    margin: 25px;
}

li.action-retweet-container {
    display: list-item;
    text-align: -webkit-match-parent;
    display: inline;
    text-align: right;
}

input.btn.btn-action-retweet {
    background-color: #ffffff;
    padding: 2px 4px;
    border-width: 1px;
    border-color: #e5e4e4;
}

ul.tweet-action.center-middle-btn {
    display: table-cell;
    text-align: right;
    margin: 0;
    list-style: none;
}

.center-middle-txt {
    margin: 20px 0;
}

.center-middle-btn {
    margin: 12px 0;
}

.follow-space {
    margin-bottom: 8px;
}

/* @group Dashboard */

div.dashboard-userfields {
    width: 132px;
    position: relative;
    top: 0;
    display: inline-block;
    left: 3px;
}

div.dashboard-stats {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.dashboard-statslist {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;
    line-height: 16px;
}

li.dashboard-stat {
    box-sizing: border-box;
    border-bottom: 0 solid #66757f;
    line-height: 1;
    transition: all .15s ease-in-out;
    overflow: hidden;
    vertical-align: bottom;

}

a.dashboard-head {
    display: block !important;
    background-color: #FF3300 !important;
    background-size: 100%;
    border-bottom: 1px solid #e1e8ed;
    height: 95px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 248px;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;
}

span.dashboard-statlabel {
    color: #8c9ca9;
    font-size: 11px;
    letter-spacing: .02em;
    text-transform: uppercase;
    transition: color .15s ease-in-out;
    overflow: hidden;
}

span.dashboard-statvalue {
    display: block;
    font-size: 18px;
    padding-top: 3px;
    font-weight: 500;
    transition: color .15s ease-in-out;
}

a.dashboard-avatar {
    background-color: #fff;
    border-radius: 6px;
    margin: -30px 0 0 8px;
    padding: 3px;
    vertical-align: bottom;
    display: inline-block !important;
    max-width: 100%;
}

img.dashboard-avatarimage {
    border-radius: 5px;
    height: 70px;
    width: 70px;
    text-decoration: underline;
}

a.dashboard-statlink {
    color: #FF3300 !important;
    padding: 0 5px;
    text-align: center !important;
    text-decoration: none !important;
}

div.dashboard-tweet-box {
    border: 1px solid;
    padding: 12px;
    width: 248px;
    margin-left: -1px;
    margin-bottom: -1px;
    padding: 10px 12px;
    background-color: #f5f8fa;
    border-radius: 0 0 5px 5px;
    border-color: #FFCCBF !important;
}

div.dashboard-word-counter {
    display: inline;
}

div.dashboard-send-button {
    display: inline;
}

.dashboard textarea#body {
    width: 100%;
    padding: 4px;
}

/* @end */

.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid-cell {
    moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
}

p.bg-danger.show-error {
    padding: 5px 10px;
    width: 864px;
    border-radius: 6px;
    color: red;
    text-transform: none;
    font-variant: normal;
    text-align: left;
    font-style: italic;
}

div.row.block-error.block-surround {
    background: #000080;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
    font-family: Fixedsys;
    color: white;
    margin: 0;
}

table.content-error-page {
    width: 100%;
}

div.home-container {
    background: #f5f5f5 url('/assets/images/twitter_dead.png') no-repeat left top;
    background-size: 870px 652px;
    height: 652px;
}